
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan'); /*flashy font*/
@import url('https://fonts.googleapis.com/css?family=ABeeZee'); /*normal font*/
@import url('https://fonts.googleapis.com/css?family=Cabin');


body{
  margin: 0;
  padding: 0;
  color:  #15576a;
  width: 100%;
  background-color: white;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-weight:800;
  font-size: 75px;
  text-align: center;
  color: #114555;
  padding: 0;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  color: #114555;
  margin: 0;
  padding-bottom: 55px;
}

.center { margin: 0 auto; }
.content {margin: 0 auto; width: 960px; }
.clear { clear: both; }

#header {
  font-family: 'Cabin', sans-serif;
  width: 100%;
  background: rgb(110, 50, 231);
  color: #4250f4;
  height: 120px;
  position: fixed;
  z-index: 100;

}

span {
  color: #fff;
}




#home h3 {
color: white;
}
h3 {
  color: #114555;
}

#myNav ul{
  list-style: none;
  display: inline;
  margin: 0 auto;
  list-style: none;
}
#myNav li{
  display: inline-block;
  text-align: center;
}
#myNav li a { display: inline-block; color: #fff; opacity:1; font-size: 20px; text-decoration: none; padding: 7px 20px 12px 10px; }
#myNav li a.isActive { color: #fff; opacity:1; }
#myNav li a:hover { color: #FFF; opacity:1; background-color: #1c65ff; }

a:visited {
  text-decoration: none;
}

a#logo {
  font-size: 40px;
  color: white;
  padding-top: 10px;
  /*padding-bottom: -40px;*/
}

.slideContainer {
  margin: 0 auto;
  margin-top: -80px;
  text-align: center;
  width: 100vw;
  padding-bottom: 120px;
}

.contentContainer {
  margin: 0 auto;
  margin-top: -100px;
  text-align: center;
  width: 960px;
}

#home, #aboutMe, #services, #contactMe{ width: 100%; }
#home{
  background: #e0d2f9 50% 0 no-repeat fixed;
  height: 700px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}
#aboutMe{
  background-color: #efe8fc;
  height: 1500px;
  color: #19647E;
  margin: 0 auto;
  padding: 200px 0 260px 0;
}
#services{
  background:#fff 50% 0 no-repeat fixed;
  color: #19647E;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;
}
#contactMe{
  background-color: #fff;
  color: #19647E;
  height: 600px;
  padding: 200px 0;
}

input, select {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

button {
  margin-bottom: 20px;
}

.paragraphHolder {
  text-align: justify;
  display: inline-block;
}

.imageHolder {
  display: inline-block;
}

.imageHolder > img {
  width: 400px;
  float: right;
  padding-left: 100px;
}

.infoBubble {
  padding: 15px 5px 0px 5px;
  margin-top: 20px;
  background-color:  #bad1ff;
  border: 3px solid #4b82f2;
  border-radius: 10px;
  display: block;
  text-align: center;
}
.infoBubble > ul li {
  list-style-type: none;
  text-align: center;
  margin-left: -35px;
}


@keyframes pulse {
from {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
50% {
-webkit-transform: scale3d(1.5, 1.5, 1.5);
transform: scale3d(1.5, 1.5, 1.5);
}
to {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}

.carousel-item, img.d-block.img-fluid {
  width: 100%;
  /*max-width: 100vw;*/
  height: 100%;

}

.slideHeader {
  font-size: 50px;
  margin-top: 480px;
}

.slideSub {
  font-size: 40px;
  margin-top: 10px;
}

img.d-block.img-fluid {
  opacity: 0.95;
}

img.svg {
  width: 50px;
  display: inline-block;
  margin: 0 auto;
}

img.svg:hover {
  animation: pulse 1s ease-in-out;
}

div.carousel-caption.d-none.d-md-block{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  margin-bottom: -20px;
  margin-left: -300px;
  margin-right: -300px;
}
