
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan'); /*flashy font*/
@import url('https://fonts.googleapis.com/css?family=ABeeZee'); /*normal font*/

/*dark color : #1D2419*/
/*dark blue : #19647E*/
/*mint : #28AFB0*/
/*ochre : #F7DF89*/
/*flesh : #F7CFAD*/

body{
  margin: 0;
  padding: 0;
  color: #1D2419;
  width: 100%;
  background-color: white;
  font-family: 'ABeeZee', sans-serif;
}

h1 {
  font-family: 'Baloo Chettan', cursive;
  font-weight:800;
  font-size: 75px;
  text-align: center;
  /*text-shadow: 5px 5px 5px #111111;*/
  color: #1D2419;
  padding: 0;
}
h2 {
  font-family: 'Baloo Chettan', cursive;
  font-weight: 800;
  font-size: 60px;
  text-align: center;
  /*text-shadow: 5px 5px 5px #111111;*/
  color: #1D2419;
  margin: 0;
  padding-bottom: 55px;
}

.center { margin: 0 auto; }
.content {margin: 0 auto; width: 960px; }
.clear { clear: both; }

#header {
  font-family: 'Baloo Chettan', cursive;
  width: 100%;
  /*text-shadow: 10px 10px 14px #999999;*/
  background: rgba(255, 255, 255, 0.76); /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(left, #8effd3, #fff); /* For Safari 5.1 to 6.0 */*/
  /*background: -o-linear-gradient(right, #8effd3, #fff); /* For Opera 11.1 to 12.0 */*/
  /*background: -moz-linear-gradient(right, #8effd3, #fff); /* For Firefox 3.6 to 15 */*/
  /*background: linear-gradient(to right, #8effd3, #fff);  Standard syntax*/
  color: #4250f4;
  /*border-bottom: 4px solid #1c65ff;*/
  height: 60px;
  position: fixed;
  z-index: 100;
}

span {
color: #f44283;
}

#logo a {
  border-radius: 50%;
  color: #1c65ff;
}

/*#logo a:hover {
  color: #fff;
}*/

#myNav { width: 550px; float: right; margin-top: 6px; }
#logo a {text-decoration: none; float: left; font-size: 40px; font-weight: bold; }
#myNav ul{
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}
#myNav li{
  margin-top: 9px;
  float: left;
}
#myNav li a { color: #1c65ff; opacity:1; font-size: 20px; text-decoration: none; padding: 15px 20px 12px 20px; }
#myNav li a.isActive { color: #f44283; opacity:1; }
#myNav li a:hover { color: #FFF; opacity:1; background-color: #1c65ff; }

a:visited {
  text-decoration: none;
  /*color: black;*/
}

.slideContainer {
  margin: 0 auto;
  margin-top: -140px;
  text-align: center;
  width: 100vw;
  padding-bottom: 120px;
}

.contentContainer {
  margin: 0 auto;
  margin-top: -100px;
  text-align: center;
  width: 960px;
  /*padding-bottom: 120px;*/
}

#home, #aboutMe, #services, #contactMe{ width: 100%; }
#home{
  background: #fff 50% 0 no-repeat fixed;
  /*color: #19647E;*/
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}
#aboutMe{
  background-color: #fff;
  height: 600px;
  color: #19647E;
  margin: 0 auto;
  padding: 200px 0 260px 0;
}
#services{
  background:#fff 50% 0 no-repeat fixed;
  color: #19647E;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;
}
#contactMe{
  background-color: #fff;
  color: #19647E;
  height: 600px;
  padding: 200px 0;
}

input, select {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

button {
  margin-bottom: 20px;
}




/*
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}*/

.carousel-item, img.d-block.img-fluid {
  width: 100vw;
  max-width: 100vw;
}

.slideHeader {
  font-size: 40px;
}

.slideSub {
  font-size: 30px;
}
